{% extends 'game/gameAdminpanel/base/base.html' %}

{% block body_content %}
    <h1>Alle beschikbare game items</h1>
    {% if all_module_items and all_module_types %}
        <div class="accordion" id="allItemsAccordion">
            {% for type_key, type_value in all_module_types.items %}
                <div class="accordion" id="allItemsAccordion">
                    <div class="card">
                        <div class="card-header" id="heading{{ forloop.counter }}">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left {% if not forloop.first %}collapsed{% endif %}"
                                        type="button" data-toggle="collapse"
                                        data-target="#collapse{{ forloop.counter }}"
                                        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                        aria-controls="collapseOne">
                                    <h4>{{ type_value }}</h4>
                                </button>
                            </h2>
                        </div>
                        <div id="collapse{{ forloop.counter }}"
                             class="collapse {% if forloop.first %}show{% endif %}"
                             aria-labelledby="heading{{ forloop.counter }}"
                             data-parent="#allItemsAccordion">
                            <div class="card-body">
                                <ul>
                                    {% for item in all_module_items %}
                                        {% if item.type == type_key %}
                                            <li>
                                                <a href="{% url 'game:adminpanelModulesEdit' item.id %}">{{ item.module_item_content.name }}</a>

                                                <!-- Edit item -->
                                                <form action="{% url 'game:adminpanelModulesEdit'  item.id %}"
                                                      method="get">
                                                    <button type="submit" class="btn btn-primary btn-sm">
                                                        Aanpassen
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                             class="bi bi-pencil-fill"
                                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                        </svg>
                                                    </button>
                                                </form>

                                                <!-- Delete item -->
                                                <form action="{% url 'game:adminpanelModulesDelete' item.id %}" method="get">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm">
                                                        Verwijderen
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                             class="bi bi-trash-fill"
                                                             fill="currentColor"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                                        </svg>
                                                    </button>
                                                </form>

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <hr class="my-4">

    <!-- Add new item by type -->
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'game:adminpanelModulesAddItemConstruct' %}" method="get">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ prime_item_form|crispy }}

                <button type="submit" class="btn btn-primary">
                    Voeg een nieuwe item toe
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
{% endblock body_content %}

