<div class="container">
    <p>
        Hieronder staan de verschillende spellen waar spelers aan mee kunnen doen. Een spel bestaat uit
        verschillende <strong>puzzels</strong> en een puzzel bestaat weer uit verschillende <strong>vragen</strong>
        en <strong>spelonderdelen</strong>.
    </p>
    <p>
        Puzzels worden in een spel aangemaakt en mogen uit één of meerdere vragen en spelonderdelen
        bestaan. Een puzzel kan veschillende instellingen hebben waaronder <strong>sequentieel</strong>.
        Een puzzel die sequentieel is, is een puzzel waarbij de vragen/spelonderdelen één voor één
        bezocht moeten worden. Spelers moeten starten bij de eerste vraag, en moeten deze vraag afronden
        voordat zij verder kunnen naar de volgende vraag. De instelling <strong>sequentieel</strong> kan worden
        ingesteld onder het tabje <i>puzzelinstellingen</i>.
    </p>
    <p>
        In een puzzel kun je verschillende instellingen toepassen op de
        <strong>vragen</strong>/<strong>spelonderdelen</strong>. Alle vragen en spelonderdelen, samen met de
        instellingen van deze onderdelen, zijn te vinden onder het tabje <i>vragen en spelonderdelen</i>.
    <ul>
        <li>
            <strong>Item volgorde</strong> Met item volgorde geef je de volgorde van vragen/spelonderdelen in een puzzel
            aan. De onderdelen met de laagste volgorde komen als eerste voor en de onderdelen met de hoogste volgorde
            waarde komen als laatste voor. Deze volgorde is alleen relevant, en daarom ook alleen instelbaar, wanneer
            een puzzel als <strong>sequentieel</strong> staat ingesteld.
        </li>
        <li>
            <strong>Verborgen</strong> Wanneer een vraag/onderdeel verborgen is, komt deze niet voor in
            de lijst welke spelers op de hoofdpagina van een spel kunnen zien, maar, dit onderdeel zal
            wel worden bezocht, mits een puzzel staat aangemerkt als <strong>sequentieel</strong>.
        </li>
        <li>
            <strong>Game Master Onderdeel</strong> Wanneer een vraag/onderdeel staat aangemerkt als Game
            Master Onderdeel, zal dit onderdeel alleen kunnen worden afgesloten door een Game Master.
            Spelers moeten bijvoorbeeld hun antwoorden op een vraag goed laten keuren door de Game
            Master. De Game Master kan dan via diens eigen telefoon of laptop, via het Game Master
            paneel, de vraag goedkeuren én er een score aan verbinden.
        </li>
        <li>
            <strong>Aantal punten van onderdeel</strong> Hiermee wordt het aantal punten dat spelers
            kunnen verdienen met een onderdeel aangegeven.
        </li>
        <li>
            <strong>Punten aftrek na fout antwoord</strong> Hiermee wordt het aantal punten aftrek <i>per</i>
            fout antwoord weergegeven. Als een vraag twee keer fout beantwoord wordt, dan is de
            uiteindelijke score <small><i><strong>Totaal aantal punten</strong></i> min (<i><strong>punten
            aftrek per fout</strong></i> maal <i><strong>aantal foute antwoorden</strong></i>)</small>.
        </li>
        <li>
            <strong>Maximum aantal foute antwoorden mogelijk</strong> Dit is het maximum aantal foute
            antwoorden dat een spelers mogen geven op een vraag voordat de vraag automatisch verder gaat
            <strong>zonder</strong> enige punten toekenning. Als spelers een oneindig aantal kansen
            moeten hebben moet dit op <strong>0</strong> worden ingesteld.
        </li>
    </ul>
    </p>
    <p>
        Met de knop <strong>Bekijken/Aanpassen</strong> in een spelonderdeel is het mogelijk om van die vraag/dat
        spelonderdeel de inhoud aan te passen. Let op, de instellingen in de kaarten waar deze knop zich bevindt worden
        niet met deze knop opgeslagen!
    </p>
    <p>
        Nieuwe vragen en spelonderdelen kunnen in het tabje <i>vragen en spelonderdelen</i> helemaal onderaan worden
        toegevoegd. Om een nieuw onderdeel toe te voegen moet eerst het type van het onderdeel geselecteerd worden.
        Zodra het type geselecteerd is klik je op de knop <strong>Voeg een nieuwe vraag/een nieuw spelonderdeel
        toe</strong> en dan ga je door naar een pagina waar je bovenaan bestaande onderdelen van dat type kunt
        selecteren en daar onder een nieuw onderdeel/nieuwe vraag kunt toevoegen.
    </p>
</div>