{% extends 'game/gameAdminpanel/base/base.html' %}

{% load crispy_forms_tags %}

{% block body_content %}

    {% if game %}
        <div class="row align-items-center">
            <div class="col-sm-9">
                <h1><span class="display-4">Spel</span> <span id="gameNameHeader">{{ game }}</span></h1>
            </div>
            <div class="col-sm-3 text-right">
                <a class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#explanation" role="button"
                   aria-expanded="false">
                    Toon uitleg over <strong>spellen</strong>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <small>
                    <i>
                        <strong>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-code-slash" viewBox="0 0 16 16">
                                <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
                            </svg>
                            Spel ID
                        </strong>
                        {{ game.gameID }}
                    </i>
                </small>
            </div>
            <div class="col">
                <small>
                    <i>
                        <strong>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-calendar2-plus" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM8 8a.5.5 0 0 1 .5.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5A.5.5 0 0 1 8 8z"/>
                            </svg>
                            Aanmaak datum
                        </strong>
                        {{ game.publicationDate|date:'D d-m-Y H:i' }}
                    </i>
                </small>
            </div>
            <div class="col">
                <small>
                    <i>
                        <strong>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-calendar-check" viewBox="0 0 16 16">
                                <path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                            Voor het laatst aangepast
                        </strong>
                        {{ game.lastChangedDate|date:'D d-m-Y H:i' }}
                    </i>
                </small>
            </div>
        </div>

        <div class="row collapse" id="explanation">
            <div class="col">
                <hr/>
                {% include "game/gameAdminpanel/games_edit_explanation.html" %}
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-gamesettings"
                           role="tab" aria-controls="nav-home" aria-selected="true">Spelinstellingen</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-puzzles" role="tab"
                           aria-controls="nav-profile" aria-selected="false">Puzzels</a>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="tab-content" id="nav-tabContent">
                    <!-- Game settings -->
                    <div class="tab-pane fade show active mt-4" id="nav-gamesettings" role="tabpanel">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <form method="post" id="gameSettingsForm">
                                            <div class="form-row">
                                                <div class="col">
                                                    {{ gameForm.gameName|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-sm-10">
                                                    {{ gameForm.accessTag|as_crispy_field }}
                                                </div>
                                                <div class="col-sm-2">
                                                    {{ gameForm.accessThroughTag|as_crispy_field }}
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-sm-5">
                                                    {{ gameForm.startDateTime|as_crispy_field }}
                                                </div>
                                                <div class="col-sm-5">
                                                    {{ gameForm.endDateTime|as_crispy_field }}
                                                </div>
                                                <div class="col-sm-2">
                                                    {{ gameForm.noDateNorTime|as_crispy_field }}
                                                </div>
                                            </div>

                                            <hr/>

                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    {{ gameForm.generalText|as_crispy_field }}
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card bg-light">
                                                        <div class="card-body">
                                                            <h5>Voorbeeld van beschrijving: </h5>
                                                            <hr class="my-4">
                                                            <div id="result"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ game.gameID }}">
                                        </form>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div class="col text-center">
                                        <!-- Edit game button -->
                                        <button type="submit" class="btn btn-primary" data-toggle="tooltip"
                                                data-placement="bottom" title="Aanpassingen opslaan" onclick="$('#gameSettingsForm').submit()">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                            </svg>
                                        </button>
                                    </div>

                                    <!-- Remove game button -->
                                    {% if game.published == False %}
                                        <div class="col text-center">
                                            <form action="{% url 'game:adminpanelGamesDelete' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ game.gameID }}">
                                                <button type="submit" class="btn btn-danger" data-toggle="tooltip"
                                                        data-placement="bottom" title="Spel verwijderen">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                         class="bi bi-trash-fill"
                                                         fill="currentColor"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    {% endif %}


                                    <!-- Publish game button -->
                                    <div class="col text-center">
                                        <form action="{% url 'game:adminpanelGamesEditPublish' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ game.gameID }}">
                                            <button type="submit" data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    class="btn {% if game.published == True %}btn-warning"
                                                    title="Spel de-publiceren">
                                                    {% elif game.published == False %}
                                                        btn-primary" title="Spel publiceren">{% endif %}
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                         class="bi bi-newspaper"
                                                         fill="currentColor"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
                                                        <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                                                    </svg>
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Puzzles (or categories in devterms) -->
                    <div class="tab-pane fade mt-4" id="nav-puzzles" role="tabpanel">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                            {% for category in categories %}
                                <div class="col mb-4">
                                    <div class="card h-100">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col">
                                                    <h6>
                                                        {% if game.published == False %}
                                                            <a href="{% url 'game:adminpanelGamesEditCategory' game.gameID category.categoryID %}">{{ category }}</a>
                                                        {% else %}
                                                            {{ category }}
                                                        {% endif %}
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <p>
                                            <div class="row">
                                                <div class="col-6">
                                                    <strong>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-bar-chart"
                                                             viewBox="0 0 16 16">
                                                            <path d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"/>
                                                        </svg>
                                                        Max score
                                                    </strong>
                                                    {{ category.maxCategoryScore }}
                                                </div>
                                                <div class="col-6">
                                                    <strong>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-bar-chart-fill"
                                                             viewBox="0 0 16 16">
                                                            <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                                                        </svg>
                                                        Score
                                                    </strong>
                                                    {{ category.obtainedCategoryScore }}
                                                </div>
                                            </div>
                                            </p>
                                            <p>
                                                <strong>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                                                        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                                                        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                                                    </svg>
                                                    Sequentieel verloop
                                                </strong>
                                                {% if category.chained == True %}
                                                    <span class="text-success">Ja</span>
                                                {% elif category.chained == False %}
                                                    <span class="text-danger">Nee</span>
                                                {% endif %}
                                            </p>
                                            {% if gameItems %}
                                                <hr/>
                                                <p>
                                                    <strong>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                             fill="currentColor" class="bi bi-patch-question"
                                                             viewBox="0 0 16 16">
                                                            <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.71 1.71 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745z"/>
                                                            <path d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0z"/>
                                                        </svg>
                                                        Vragen en spelonderdelen
                                                    </strong>
                                                </p>
                                                <ul>
                                                    {% for item in gameItems %}
                                                        {% if category.categoryID == item.category.categoryID %}
                                                            <li>
                                                                <small>
                                                                    <strong>{{ item }}</strong>
                                                                    {% if item.hidden %}
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                             width="16" height="16" fill="currentColor"
                                                                             class="bi bi-eye-slash"
                                                                             viewBox="0 0 16 16">
                                                                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                                                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                                                            <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z"/>
                                                                        </svg>
                                                                    {% endif %}
                                                                </small>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}


                                        </div>
                                        {% if game.published == False %}
                                            <div class="card-footer">
                                                <div class="row">
                                                    <div class="col-6 text-center">
                                                        <a class="btn btn-primary btn-sm"
                                                           href="{% url 'game:adminpanelGamesEditCategory' game.gameID category.categoryID %}"
                                                           data-toggle="tooltip"
                                                           data-placement="bottom" title="Puzzel aanpassen">
                                                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                 class="bi bi-pencil-fill"
                                                                 fill="currentColor"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd"
                                                                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                    <div class="col-6 text-center">
                                                        <form action="{% url 'game:adminpanelCategoriesDelete' %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="categoryID"
                                                                   value="{{ category.categoryID }}">
                                                            <input type="hidden" name="gameID"
                                                                   value="{{ game.gameID }}">
                                                            <button type="submit" class="btn btn-danger btn-sm"
                                                                    data-toggle="tooltip"
                                                                    data-placement="bottom" title="Puzzel verwijderen">
                                                                <svg width="1em" height="1em"
                                                                     viewBox="0 0 16 16"
                                                                     class="bi bi-trash-fill"
                                                                     fill="currentColor"
                                                                     xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd"
                                                                          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                                                </svg>
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Add New Category -->
                        <div class="row">
                            <div class="col">
                                {% if game.published == False %}
                                    <hr class="my-4">

                                    <form action="{% url 'game:adminpanelCategoriesAdd' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="gameID" value="{{ game.gameID }}">
                                        <div class="form-row align-items-center">
                                            <div class="col-md-10">
                                                <label class="sr-only" for="newCategoryName">
                                                    Naam nieuwe puzzel
                                                </label>
                                                <input type="text" class="form-control mb-2" id="newCategoryName"
                                                       name="newCategoryName" placeholder="Naam nieuwe puzzel">
                                            </div>
                                            <div class="col-md-2">
                                                <button type="submit" class="btn btn-primary mb-2">
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus"
                                                         fill="currentColor"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd"
                                                              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                    </svg>
                                                    Voeg puzzel toe
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock body_content %}

{% block baseAdminpanel_javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $("#id_message").bind('input propertychange', function () {
                $("#result").html("<div class=\"d-flex justify-content-center\"><div class=\"spinner-border text-primary\" role=\"status\"><span class=\"sr-only\">Loading...</span></div></div>");
                runMarkdownLatexAtDest($("#result"), $("#id_message").val());
            });

            $("#result").html("<div class=\"d-flex justify-content-center\"><div class=\"spinner-border text-primary\" role=\"status\"><span class=\"sr-only\">Loading...</span></div></div>");
            runMarkdownLatexAtDest($("#result"), $("#{{ gameForm.generalText.auto_id }}").val());

            $("#{{ gameForm.generalText.auto_id }}").bind('input propertychange', function () {
                $("#result").html("<div class=\"d-flex justify-content-center\"><div class=\"spinner-border text-primary\" role=\"status\"><span class=\"sr-only\">Loading...</span></div></div>");
                runMarkdownLatexAtDest($("#result"), $(this).val());
            });

            liveTextUpdate($("#id_gameName"), $("#gameNameHeader"), "{{ game.gameName }}");
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

{% endblock baseAdminpanel_javascript %}