<div class="container">
    <p>
        Een spel bestaat uit verschillende <strong>puzzels</strong> en een puzzel bestaat weer uit verschillende
        <strong>vragen</strong> en <strong>spelonderdelen</strong>.
    </p>
    <p>
        Puzzels worden in een spel aangemaakt en mogen uit één of meerdere vragen en spelonderdelen
        bestaan. Je kunt alle puzzels zien, met daarin een klein overzicht van de vragen en spelonderdelen in de
        puzzels, door naar de tab <i>puzzels</i> te gaan. Daar is ook simpele informatie te zien zoals <strong>maximum
        aantal punten</strong>, <strong>behaalde aantal punten</strong> en of de puzzel <strong>sequentieel</strong>
        verloopt. De instellingen en de samenstelling van een puzzel kan alleen aangepast worden als een spel niet
        gepubliceerd is.
    </p>
    <p>
        Wanneer het
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash"
             viewBox="0 0 16 16">
            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
            <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884l-12-12 .708-.708 12 12-.708.708z"/>
        </svg>
        icoontje achter een vraag/onderdeel staat, in het puzzel overzicht, betekent dat deze niet te zien is voor
        spelers in het speloverzicht. Zij komen hier wel langs, maar het is dus een verborgen vraag/onderdeel.
    </p>
    <p>
        Spellen kunnen worden <strong>geopend</strong> en <strong>gepubliceerd</strong> onder het tabje <i>spelinstellingen</i>.
        Om een spel beschikbaar te maken voor spelers moet het zowel geopend als gepubliceerd zijn. Het
        <i>publiceren</i>
        van een spel reset het volledig spel en berekent alle mogelijk punten, dit maakt het spel klaar
        om te spelen. Door het spel vervolgend te <i>openen</i> maak je het beschikbaar voor spelers.
        Als je een spel wilt testen als <strong>game master</strong> of <strong>game creator</strong>
        moet je het spel alleen <i>publiceren</i> en <strong>niet</strong> <i>openen</i>.
    </p>
    <p>
        Spelers kunnen spellen op twee manieren vinden. Een spel is te vinden in het hoofdoverzicht van het spel, of ze
        kunnen een spel vinden door een <strong>tag</strong>/<strong>toegangscode</strong> in te vullen. Door de optie
        <strong>Speltoegang via toegangscode</strong> onder het tabje <i>spelinstellingen</i> aan te zetten kunnen zij
        spellen enkel en alleen binnenkomen door een toegangscode in te vullen. Deze <i>toegangscode</i> is in te vullen
        in het veld <strong>Spel toegangscode</strong> onder het tabje <i>spelinstellingen</i>. Let op, de toegangscode
        moet uniek zijn.
    </p>
    <p>
        De knoppen
        <button class="btn btn-primary btn-sm">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
        </button>
        ,
        <button class="btn btn-danger btn-sm">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
        </button>
        en
        <button class="btn btn-primary btn-sm">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-newspaper" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
                <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
            </svg>
        </button>
        betekenen <strong>opslaan</strong> <small><i>(van de aanpassingen)</i></small>, <strong>verwijderen</strong> en
        <strong>publiceren</strong> van een spel respectievelijk. Als een spel gepubliceerd is, kan deze niet meer
        verwijderd worden. De publiceren knop zal dan geel worden in plaats van blauw.
    </p>
</div>