{% extends 'game/gameAdminpanel/base/base.html' %}

{% block body_content %}

    {% if games %}
        <h1>Alle huidige spellen</h1>
        <ul>
            {% for game in games %}
                <li>
                    <h3><a href="{% url 'game:adminpanelGamesEdit' game.gameID %}">{{ game }}</a>:</h3>
                    Creation date({{ game.publicationDate|date:'D d-m-Y H:i' }}),
                    last changed({{ game.lastChangedDate|date:'D d-m-Y H:i' }}),
                    starts({{ game.startDateTime|date:'D d-m-Y' }} {{ game.startDateTime|time:'H:i:s' }}),
                    ends({{ game.endDateTime|date:'D d-m-Y' }} {{ game.endDateTime|time:'H:i:s' }}),
                    {% if game.open == True %}<b style="color:green">Open</b>{% elif game.open == False %}
                        <b style="color:red">Gesloten</b>{% endif %}
                    {% if game.published == True %}<b style="color:green">Gepubliseerd</b>{% endif %}

                    <!-- Edit game -->
                    <form action="{% url 'game:adminpanelGamesDuplicate' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ game.gameID }}">
                        <button type="submit" class="btn btn-primary">
                            Dupliceren
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path fill-rule="evenodd"
                                      d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                        </button>
                    </form>

                    <!-- Edit game -->
                    <form action="{% url 'game:adminpanelGamesEdit' game.gameID %}" method="get">
                        <button type="submit" class="btn btn-primary">
                            Aanpassen
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                            </svg>
                        </button>
                    </form>

                    <!-- Delete game -->
                    <form action="{% url 'game:adminpanelGamesDelete' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ game.gameID }}">
                        <button type="submit" class="btn btn-danger">
                            Verwijderen
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                 class="bi bi-trash-fill"
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                            </svg>
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <hr class="my-4">
        <h1>Voeg een nieuw spel toe!</h1>
        <form action="{% url 'game:adminpanelGamesAdd' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="newGameName">Naam van een nieuw spel:</label>
                <input type="text" class="form-control" name="newGameName" id="newGameName">
            </div>

            <button type="submit" class="btn btn-primary">
                Voeg een nieuwe game toe
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
        </form>
    {% else %}
        <div class="row">
            <div class="col-sm">
                <div class="jumbotron">
                    <h1 class="display-3">Er zijn nog geen spellen!</h1>
                    <hr class="my-4">
                    <p>Voeg een paar nieuwe spellen toe!</p>
                    <hr class="my-4">
                    <form action="{% url 'game:adminpanelGamesAdd' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="newGameName">Naam van een nieuw spel:</label>
                            <input type="text" class="form-control" name="newGameName" id="newGameName">
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Voeg een nieuwe game toe
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock body_content %}